name: Deploy to S3
on:
  push:
    branches: ["main"]
# Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
env:
  BUCKET_NAME : "igormarcelo.dev.br"
  AWS_REGION : "us-east-2"
# permission can be added at job level or workflow level
permissions:
  id-token: write   # This is required for requesting the JWT
  contents: read    # This is required for actions/checkout
jobs:
  S3PackageUpload:
    runs-on: ubuntu-latest
    steps:
      - name: Git clone the repository
        uses: actions/checkout@v5
      - name: configure aws credentials
        uses: aws-actions/configure-aws-credentials@e3dd6a429d7300a6a4c196c26e071d42e0343502
        with:
          role-to-assume: arn:aws:iam::985539781022:role/GitHubActionsRole
          role-session-name: gh-actions
          aws-region: ${{ env.AWS_REGION }}
      # Upload a file to AWS s3
      - name: Copy index.html to s3
        run: |
          aws s3 cp ./.env.example s3://${{ env.BUCKET_NAME }}/
